body{
    background-color: rgb(34, 5, 62);
}
h1{
    text-align: center;
    color: aliceblue;
    text-shadow: red  4px 1px 1px;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 150px;
}
.set{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.drum{
    height: 100px;
    width: 80px;
    color: red;
    font-size: 40px;
    font-weight: 800;
    border: 3px solid rgb(97, 97, 137);
    border-radius: 3px;
    text-shadow: 4px 4px 2px rgb(55, 7, 100);
    background-image: url(/assets/miscellaneous/download.jpg);
    background-size: cover;
}
h6{
    text-align: center;
    margin-top: 159px;
    font-size: 20px;
    color: aliceblue;
}
.style{
    color:aqua
}
