body{
    background-color:aqua;
}
div{
    display: flex;
   flex-direction : column;
    align-items: center;
}
#heading{
    font-size: 50px;
    color:orangered;
}
#number{
    font-size: 50px;
    color:green;
}
.btn{
    font-size: 50px;
    margin-top: 40px;
    padding: 0 10px;
    color: crimson;
    background-color: yellow;
}