.container {
  display: flex;
  justify-content: space-around;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  border: 1px solid yellow;

}

.box {
  display: flex;
  height: 50px;
  width: 25%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-color: yellow;
}

.color {
  background-color: yellow;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.randomNumber {
  color: orange;
  font-weight: bold;
  font-size: 20px;
}

Button {
  background-color: greenyellow;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: medium;
  font-weight: bold;
  border-radius: 20px;
}